header{
    .navbar-toggler{
        outline: none !important;
        box-shadow: none !important;
        span{
            color:$primary;
        }
    }
    
    .navbar-nav{
        background-color: #fff;
        text-align: center;
        a{
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 1.7rem;
            display: block;
            text-transform: capitalize;
            padding: 10px 5px;
            @media(min-width:992px){
                padding-inline: 26px !important;
            }
        }
    }
}