.contact-data{
    padding: 70px 0;
    background-color: #11284B;
    p{
        color: #586C88;
        span{
            margin-right: 10px;
        }
        a{
            text-decoration: none;
            color: #586C88;
        }
    }
    
}