
.contact-form-wrapper{
    margin-bottom: 70px;
    @media(min-width:992px){
        margin-bottom: 128px;
    }
    .contact-form-inner{
        width: 100%;
        max-width: 554px;
        margin-inline: auto;
        
        .contact-form{
            .form-group{
                margin-bottom: 20px;
            }
            .form-control{
                border: none;
                background-color: rgba(#253D61, 0.2);
                line-height: 5rem;
                &::placeholder{
                    font-size: 1.6rem;
                    opacity: 1;
                }
            }
            textarea{
                resize: none;
            }
        }
    }
}


.contact-map{
    iframe{
        width: 100%;
        height: 400px;
    }
}